/* ---------------------------------------------------------------------------
//
// 繝壹・繧ｸ蜈ｱ騾・
//
// --------------------------------------------------------------------------- */

/* Body逕ｨ */
#contentsBody .color1 {
	color: #FF1800;
}
#container {
	background-color: #FFFFFF;	/*閭梧勹濶ｲ*/
	width: 850px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

#contentsBody #contents {
	width: 830px;
	margin-right: auto;
	margin-left: auto;
}

/*page1・・OME・峨・h2閭梧勹逕ｻ蜒・/
#contentsBody #campus h2 {
	color: #fafafa;
	background-image: url("../img/high_light.gif");
	background-repeat: no-repeat;
	font-size: 100%;
	line-height: 40px;
	height: 40px;
	overflow: hidden;
	padding-left: 30px;
	clear: both;
}

/*谿ｵ關ｽ繧ｿ繧ｰ險ｭ螳・/
#campus p {
	padding: 0.5em 10px 1em;
}

/*繝医ャ繝励・繝ｼ繧ｸ蜀・梧峩譁ｰ諠・ｱ繝ｻ縺顔衍繧峨○縲阪ヶ繝ｭ繝・け
---------------------------------------------------------------------------*/
#campus .new dl {
	height: 150px;			/*繝懊ャ繧ｯ繧ｹ縺ｮ鬮倥＆*/
	overflow: auto;
	padding-right: 10px;
	padding-left: 10px;
}

#campus .new dt {
	font-weight: bold;	/*譌･莉倥ｒ螟ｪ蟄励↓縺吶ｋ險ｭ螳・/
	float: left;
}

#campus .new dd {
	border-bottom: 1px solid #cccccc;	/*譌･莉倥＃縺ｨ縺ｮ荳狗ｷ・/
	padding-left: 8em;
}

#welcome1 {
	width:819px;
	float:left;
}
#welcome2 {
	width:484px;
	float:left;
}

#TopImg{
	width:325px;
	float:left;
}

/* 莨夂､ｾ讎りｦ・繝悶Ο繝・け
---------------------------------------------------------------------------*/
#mojiSpanNavy {
	color: navy;
	font-weight: bold;
}

#companyInfo2 {
	width:800px;
	float:left;
}

#comInfoImg{
	padding-top: 20px;
	display : block;
	width: 140px;
	height: 200px;
	float:left;
}
