div#main {
	padding: 0px 6px 0px 36px; width: 950px;
}
div#main div#main-contents {
	width: 700px;
}
div#main div#main-contents h2 {
	margin: 0px 0px 20px;
}
div#main div#main-contents div#outline-block-01 {
	padding: 0px 30px 40px 0px;
}
div#main div#main-contents div#outline-block-01 h3 {
	margin: 30px 0px 10px;
}
div#main div#main-contents div#outline-block-01 p {
	width: 448px;
}
div#main div#main-contents div#outline-block-01 p.image {
	width: 202px; float: right;
}
div#main div#main-contents div#outline-block-01 p.image span {
	margin: 3px 0px 0px; font-size: 90%; display: block;
}
div#main div#main-contents div#outline-block-02 dl {
	padding: 0px 0px 13px; width: 670px;
}
div#main div#main-contents div#outline-block-02 dl dt {
	width: 110px; color: rgb(89, 41, 39); font-weight: bold;  float: left;
}
div#main div#main-contents div#outline-block-02 dl dd {
	background: url("/img/outline_bod_02_lin_dot.gif") repeat-y left top; padding: 0px 0px 10px 15px; width: 545px; float: left;
}
div#main div#main-contents div#history-block-01 dl {
	background: url("/img/history_bod_01_bg_02.gif") no-repeat left bottom; margin: 0px 0px 4px; padding: 0px 0px 4px;
}
div#main div#main-contents div#history-block-01 dl dt {
	background: url("/img/history_bod_01_bg_01.gif") no-repeat left top; margin: 0px; padding: 5px 0px 20px 5px; width: 115px; color: rgb(51, 51, 51); font-weight: bold; float: left;
}
div#main div#main-contents div#history-block-01 dl dd {
	padding: 0px 0px 5px; width: 550px; float: left;
}
div#main div#main-contents div#history-block-01 dl dd dl {
	padding: 0px;
}
div#main div#main-contents div#history-block-01 dl dd dl dt {
	margin: 0px; padding: 5px 0px 0px; width: 50px; text-align: right; color: rgb(51, 51, 51); font-weight: normal;
}
div#main div#main-contents div#history-block-01 dl dd dl dd {
	padding: 5px 0px 0px 20px; width: 480px;
}
div#main div#main-contents div#group-block-01 p.lead {
	margin: 0px 0px 10px; width: 670px;
}
div#main div#main-contents div#group-block-01 p.text {
	margin: 0px 0px 30px; width: 670px;
}
div#main div#main-contents div#group-block-01 div.column {
	margin: 0px 0px 10px;
}
div#main div#main-contents div#group-block-01 div.box {
	background: url("/img/group_bod_01_bg_02.gif") no-repeat left bottom; padding: 0px 20px 10px 0px; width: 325px; float: left; min-height: 150px; _height: 150px;
}
div#main div#main-contents div#group-block-01 div.box-l {
	min-height: 200px; _height: 200px;
}
div#main div#main-contents div#group-block-01 div.box h3 {
	background: url("/img/group_bod_01_bg_01.gif") no-repeat left top; padding: 13px 20px 0px; height: 29px; color: rgb(89, 41, 39); font-size: 115%; font-weight: bold;
}
div#main div#main-contents div#group-block-01 div.box dl {
	padding: 0px 20px;
}
div#main div#main-contents div#group-block-01 div.box dl dt {
	color: rgb(89, 41, 39); font-size: 90%; font-weight: bold;
}
div#main div#main-contents div#group-block-01 div.box dl dd {
	margin: 0px 0px 5px; font-size: 90%;
}
div#main div#main-contents div#group-block-01 div.box-l p.image {
	padding: 0px 20px 0px 0px; float: right;
}
div#main div#main-contents div#group-block-01 div.box-l dl {
	padding: 0px 0px 0px 20px; width: 148px; float: left;
}
div#main div#main-contents div#concept-block-01 {
	background: url("/img/concept_bod_01_04_bg_02.gif") no-repeat left bottom;
}
div#main div#main-contents div#concept-block-01 p.lead {
	width: 670px;
}
div#main div#main-contents div#concept-block-01 p.lead span {
	margin: 5px 0px 0px; color: rgb(204, 0, 0); display: block;
}
div#main div#main-contents div#concept-block-01 dl {
	margin: 40px 30px 0px 0px;
}
div#main div#main-contents div#concept-block-01 dl dt {
	margin: 0px 0px 10px; color: rgb(89, 41, 39); font-size: 129%; font-weight: bold;
}
div#main div#main-contents div#concept-block-01 dl dd p {
	width: 480px; float: right;
}
div#main div#main-contents div#concept-block-01 dl dd p.image {
	width: 166px; float: left;
}
div#main div#main-contents div#concept-block-01 div.box {
	background: url("/img/concept_bod_01_04_bg_01.gif") no-repeat left top; margin: 30px 0px 10px; padding: 1px 0px 30px 40px; width: 630px;
}
div#main div#main-contents div#concept-block-01 div.box h4 {
	margin: 30px 0px 2px; color: rgb(89, 41, 39); font-size: 115%; font-weight: bold;
}
div#main div#main-contents div#concept-block-01 div.box ul li {
	display: inline;
}
div#main div#main-contents div#owner-block-01 {
	width: 670px; 
}
div#main div#main-contents div#owner-block-01 p {
	margin: 0px 0px 30px; width: 500px; float: left;
}
div#main div#main-contents div#owner-block-01 p.lead {
	margin: 0px 0px 10px; float: none;
}
div#main div#main-contents div#owner-block-01 p span {
	margin: 20px 0px 0px; text-align: right; display: block;
}
div#main div#main-contents div#owner-block-01 p.image {
	width: 134px; float: right;
}
div#main div#main-contents div#owner-block-02 {
	margin: 50px 0px 0px; width: 670px;
}
div#main div#main-contents div#owner-block-02 h3 {
	margin: 0px 0px 20px;
}
div#main div#main-contents div#owner-block-02 p.image {
	margin: 20px 0px 0px; width: 254px; float: right;
}
div#main div#main-contents div#owner-block-02 ul {
	margin: 25px 0px 0px; width: 343px; float: left;
}
div#main div#main-contents div#owner-block-02 ul li {
	background: url("/img/owner_bod_01_02_bg_01.gif") no-repeat left top; margin: 0px 0px 50px; padding: 10px 0px 0px;
}
div#main div#main-contents div#owner-block-02 ul li p {
	background: url("/img/owner_bod_01_02_bg_02.gif") no-repeat left bottom; padding: 0px 20px 30px;
}
div#main div#main-contents div#owner-block-03 {
	margin: 50px 0px 0px; width: 670px;
}
div#main div#main-contents div#owner-block-03 h3 {
	margin: 0px 0px 20px;
}
div#main div#main-contents div#owner-block-03 p.image {
	margin: 20px 0px 0px; width: 254px; float: right;
}
div#main div#main-contents div#owner-block-03 ul {
	margin: 40px 0px 0px; width: 343px; float: left;
}
div#main div#main-contents div#owner-block-03 ul li {
	background: url("/img/owner_bod_01_02_bg_01.gif") no-repeat left top; margin: 0px 0px 130px; padding: 10px 0px 0px;
}
div#main div#main-contents div#owner-block-03 ul li p {
	background: url("/img/owner_bod_01_02_bg_02.gif") no-repeat left bottom; padding: 0px 20px 30px;
}
div#main div#main-contents div#owner-block-04 {
	padding: 0px 0px 50px;
}
div#main div#main-contents div#owner-block-04 h3 {
	margin: 0px 0px 10px;
}
div#main div#main-contents div#owner-block-04 div.franchise {
	margin: 20px 0px 0px; padding: 10px; width: 650px; background-color: rgb(255, 246, 235);
}
div#main div#main-contents div#owner-block-04 div.franchise p.text {
	text-align: right; font-weight: bold; float: right;
}
div#main div#main-contents div#owner-block-04 div.franchise p.banner {
	margin: 0px 0px 0px 20px; float: right;
}
div#main div#main-contents div#activity-2007-block-01 {
	width: 670px;
}
div#main div#main-contents div#activity-2007-block-01 p.lead {
	margin: 0px 0px 20px; float: none;
}
div#main div#main-contents div#activity-2007-block-01 p {
	width: 453px; float: left;
}
div#main div#main-contents div#activity-2007-block-01 p.image {
	width: 212px; float: left;
}
div#main div#main-contents div#activity-2007-block-02 {
	margin: 20px 0px 0px; width: 692px;
}
div#main div#main-contents div#activity-2007-block-03 {
	padding: 30px 0px 50px;
}
div#main div#main-contents div#activity-2007-block-03 h3 {
	margin: 0px 0px 10px;
}
div#main div#main-contents div#activity-2008-block-01 {
	width: 670px;
}
div#main div#main-contents div#activity-2008-block-01 p.lead {
	margin: 0px 0px 10px; float: none;
}
div#main div#main-contents div#activity-2008-block-01 p {
	width: 437px; float: left;
}
div#main div#main-contents div#activity-2008-block-01 p.image {
	width: 233px; text-align: right; float: right;
}
div#main div#main-contents div#activity-2008-block-02 {
	margin: 20px 0px 0px; width: 670px;
}
div#main div#main-contents div#activity-2008-block-03 {
	padding: 30px 0px 50px;
}
div#main div#main-contents div#activity-2008-block-03 h3 {
	margin: 0px 0px 10px;
}
div#main div#main-contents div#recruit-block-01 {
	width: 670px;
}
div#main div#main-contents div#recruit-block-01 p.lead {
	margin: 0px 0px 10px;
}
div#main div#main-contents div#recruit-block-01 p.image {
	margin: 30px 0px 70px;
}
div#main div#main-contents div#recruit-block-02 {
	padding: 0px 0px 40px; width: 670px;
}
div#main div#main-contents div#recruit-block-02 table {
	margin: 0px 0px 30px; border-top-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
div#main div#main-contents div#recruit-block-02 table tr th {
	padding: 7px 10px 20px 7px; width: 143px; text-align: left; font-weight: bold; vertical-align: top; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(242, 242, 242);
}
div#main div#main-contents div#recruit-block-02 table tr td {
	padding: 10px 20px 20px 15px; text-align: left; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
